.header{
width: 100%;
}


.navbar-nav {
margin:0 auto;
font-size: 25px;
text-align: center;
}

div a {
margin-left: 10px;
margin-right: 10px;
}

ul li{
margin-left: 10px;
margin-right: 10px;
}
